#ignore data derectory
data/
#ignore models and output (including statistics) without examples
output_*/
new/
statistics/
#ignore all png files
#*.png

# exclude everything
models/*
output/*
# exception to the rule
!models/examples
!output/examples